@import "../fonts/fonts";
@import "../var/var";

#footer {
    margin-top: 77px;
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);
    background: #080808;
    border-radius: 40px 40px 0 0;
    // height: calc(304 / #{$desktop} * 100vw);
    min-height: 304px;
    padding: calc(60 / #{$desktop} * 100vw) calc(56 / #{$desktop} * 100vw) calc(20 / #{$desktop} * 100vw);

    .container {
        max-width: 1440px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    #main-info {
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: left;

        #title {
            color: #fff;
            font-family: "SF Pro Display";
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
        }

        #text {
            color: #fff;

            font-family: "SF Pro Display";
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            letter-spacing: 0.36px;
            margin-top: calc(6 / #{$desktop} * 100vw);
        }
    }

    #email {
        grid-column-start: 7;
        grid-column-end: 11;

        #getintouch {
            color: #fff;

            font-family: "SF Pro Display";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 116.667%;
        }

        form {
            margin-top: calc(20 / #{$desktop} * 100vw);
            display: flex;
            justify-content: space-between;
            border-radius: 6px;
            background: #fff;
            padding: calc(6 / #{$desktop} * 100vw) calc(6 / #{$desktop} * 100vw) calc(6 / #{$desktop} * 100vw) calc(26 / #{$desktop} * 100vw);

            input {
                background: none;
                border: none;
                outline: none;
                color: #1e1e1e;
                font-family: "SF Pro Display";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: 0.32px;
            }

            ::placeholder {
                color: #1e1e1e;
                font-family: "SF Pro Display";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: 0.32px;
            }

            button {
                cursor: pointer;
                border: none;
                border-radius: 4px;
                background: #1e1e1e;
                padding: calc(7 / #{$desktop} * 100vw) calc(32 / #{$desktop} * 100vw);

                color: #fff;
                text-align: center;
                font-family: "SF Pro Display";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%;

                letter-spacing: 0.32px;
            }

            button:hover {
                background: #26392e;
                color: var(--frame-color);
            }
        }

        #condition {
            margin-top: calc(12 / #{$desktop} * 100vw);
            color: var(--main-text-color);
            font-family: "SF Pro Display";
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            letter-spacing: 0.24px;

            a {
                color: var(--main-text-color);
                font-weight: 700;
            }
        }
    }

    #footer-bottom {
        grid-column-start: 1;
        grid-column-end: 13;
        gap: 20px;
        display: flex;
        justify-content: space-between;

        #links {
            display: flex;
            margin-top: calc(42 / #{$desktop} * 100vw);

            a,
            p {
                text-decoration: none;
                color: #fff;
                font-family: "SF Pro Display";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 175%;
                padding: calc(6 / #{$desktop} * 100vw) calc(10 / #{$desktop} * 100vw);
            }

            #copyright {
                color: #fff;
                opacity: 0.20000000298023224;
            }
        }
    }
}
