@import "../var/var";
@import "../fonts/fonts";

#wrapper__index {
    #main {
        position: relative;
        width: 100%;
        overflow: hidden;
        background: #000;
        max-height: 640px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 40%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 2.74%, #000 100%);
            z-index: 1;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0px 0px 40px 40px;
        }

        .content {
            max-width: 1440px;
            margin: 0 auto;
            height: 100%;
            position: relative;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;

            .container__offer {
                margin-top: 330px;
                margin-bottom: 61px;
                padding: 0 100px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .play__button {
                    width: 100px;
                    height: 93px;
                    background-color: #fff;
                    background-image: url(../../images/header/play.png);
                    background-repeat: no-repeat;
                    background-position: 56% center;
                    border-radius: 14px;
                    position: relative;
                    z-index: 9;
                    margin-right: 101px;
                    cursor: pointer;

                    .video__hidden {
                        overflow: hidden;
                        width: 0;
                        height: 0;
                    }
                }
            }
        }

        #header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 17px;

            #logotype {
                padding: 6px 10px;
                color: #e9f6ed;
                font-family: Exo;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 175%;
                text-decoration: none;
                position: relative;
                z-index: 999;
            }
        }

        #offer {
            position: relative;
            max-width: 598px;
            width: 100%;
            z-index: 999;

            #title {
                color: #e9f6ed;
                font-family: "SF Pro Display";
                font-size: 60px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            #subtitle {
                margin-top: calc(16 / #{$desktop} * 100vw);
                color: #e9f6ed;
                font-family: "SF Pro Display";
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                letter-spacing: calc(0.36 / #{$desktop} * 100vw);
            }
        }
    }

    @media only screen and (max-width: 1440px) {
        #main {
            #header {
                height: calc(74 / #{$desktop} * 100vw);
                padding: calc(17 / #{$desktop} * 100vw) calc(15 / #{$desktop} * 100vw);

                #logotype {
                    padding: calc(6 / #{$desktop} * 100vw) calc(10 / #{$desktop} * 100vw);
                }

                #contact-us {
                    padding: calc(6 / #{$desktop} * 100vw) calc(10 / #{$desktop} * 100vw);
                }
            }

            #offer {
                #title {
                    font-size: calc(60 / #{$desktop} * 100vw);
                }

                #subtitle {
                    margin-top: calc(16 / #{$desktop} * 100vw);
                    letter-spacing: calc(0.36 / #{$desktop} * 100vw);
                }

                #condition {
                    margin-top: calc(12 / #{$desktop} * 100vw);
                    font-size: calc(12 / #{$desktop} * 100vw);
                    letter-spacing: calc(0.24 / #{$desktop} * 100vw);
                }
            }
        }
    }

    @media only screen and (max-width: 1170px) {
        #main {
            #offer {
                #title {
                    font-size: 48px;
                }

                #subtitle {
                    margin-top: 20px;
                    letter-spacing: 0.36px;
                    font-size: 18px;
                }
            }
        }
    }

    @media only screen and (max-width: 1016px) {
        #main {
            .content {
                .container__offer {
                    margin-top: 131px;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 0 100px 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    #offer {
                        #title {
                            text-align: center;
                        }

                        #subtitle {
                            text-align: center;
                        }
                    }

                    .play__button {
                        margin-top: 90px;
                        width: 54px;
                        height: 54px;
                        background-color: rgba(231, 244, 236, 0.4);
                        background-image: url(../../images/header/play_min.svg);
                        background-position: 56% center;
                        border-radius: 16px;
                        position: relative;
                        z-index: 9;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        #main {
            .content {
                .container__offer {
                    padding: 0 10px 57px;
                }
            }
            #header {
                #logotype {
                    color: $black;
                }

                #title {
                    font-size: 48px;
                }

                button {
                    color: $black;
                }
            }

            #offer {
                max-width: 520px;
            }
        }
    }
}
