@import "../fonts/fonts";
@import "../var/var";

// #adv {
//     display: none;
// }
// #stats {
//     display: none;
// }

// header {
//     display: none;
// }

// #reactworld {
//     display: none;
// }

// #international {
//     display: none;
// }

// #our-cutting {
//     display: none;
// }

#wrapper__index {
    #principles {
        margin: 0 auto 0;
        // width: calc(1100 / #{$desktop} * 100vw);
        overflow: hidden;

        #top {
            margin-bottom: calc(120 / #{$desktop} * 100vw);
        }

        #title {
            color: var(--header-color);
            text-align: center;

            font-family: "SF Pro Display";
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
        }

        // .container {
        //     max-width: 1440px;
        //     margin: 0 auto;
        //     position: relative;
        //     height: 696px;

        //     .item {
        //         position: relative;
        //         box-sizing: border-box;
        //         position: absolute;
        //         // right: 203px;
        //         // left: 290px;
        //         height: 100%;
        //         width: 100%;
        //         // overflow: hidden;

        //         &:nth-child(2) .item__animate {
        //             width: 696px;
        //             left: 42%;
        //             #item_2_1 {
        //                 width: 68px;
        //                 height: 122px;
        //                 position: absolute;
        //                 left: 101px;
        //                 top: 110px;
        //                 opacity: 0;
        //             }
        //             #item_2_2 {
        //                 width: 51px;
        //                 height: 58px;
        //                 position: absolute;
        //                 left: 146px;
        //                 bottom: 133px;
        //                 opacity: 0;
        //             }
        //             #item_2_3 {
        //                 width: 185px;
        //                 height: 193px;
        //                 position: absolute;
        //                 left: 254px;
        //                 bottom: 16px;
        //                 opacity: 0;
        //             }
        //             #item_2_4 {
        //                 width: 129px;
        //                 height: 146px;
        //                 position: absolute;
        //                 right: 75px;
        //                 top: 274px;
        //                 opacity: 0;
        //             }
        //             #item_2_5 {
        //                 width: 828px;
        //                 height: 705px;
        //                 position: absolute;
        //                 left: 0;
        //                 top: -62px;
        //                 z-index: -1;
        //                 opacity: 0;
        //             }
        //         }
        //         &:nth-child(3) .item__animate {
        //             width: 696px;
        //             left: 44%;
        //             top: 27px;
        //             #item_3_1 {
        //                 width: 86px;
        //                 height: 91px;
        //                 position: absolute;
        //                 left: 89px;
        //                 top: 133px;
        //                 opacity: 0;
        //             }
        //             #item_3_2 {
        //                 width: 120px;
        //                 height: 124px;
        //                 position: absolute;
        //                 right: 34px;
        //                 bottom: 273px;
        //                 opacity: 0;
        //             }
        //             #item_3_3 {
        //                 width: 134px;
        //                 height: 134px;
        //                 position: absolute;
        //                 left: 177px;
        //                 bottom: 82px;
        //                 opacity: 0;
        //             }
        //             #item_3_4 {
        //                 width: 29px;
        //                 height: 29px;
        //                 position: absolute;
        //                 right: 193px;
        //                 bottom: 115px;
        //                 opacity: 0;
        //             }
        //             #item_3_5 {
        //                 width: 777px;
        //                 height: 652px;
        //                 position: absolute;
        //                 left: 0;
        //                 top: 0;
        //                 z-index: -1;
        //                 opacity: 0;
        //             }
        //         }
        //         &:nth-child(4) .item__animate {
        //             width: 696px;
        //             left: 30%;
        //             top: -54px;
        //             #item_4_1 {
        //                 width: 113px;
        //                 height: 122px;
        //                 position: absolute;
        //                 left: 214px;
        //                 top: 241px;
        //                 opacity: 0;
        //             }
        //             #item_4_2 {
        //                 width: 50px;
        //                 height: 57px;
        //                 position: absolute;
        //                 right: -12px;
        //                 top: 178px;
        //                 opacity: 0;
        //             }
        //             #item_4_3 {
        //                 width: 93px;
        //                 height: 93px;
        //                 position: absolute;
        //                 left: 415px;
        //                 bottom: 8px;
        //                 opacity: 0;
        //             }
        //             #item_4_4 {
        //                 width: 174px;
        //                 height: 160px;
        //                 position: absolute;
        //                 right: -132px;
        //                 top: 308px;
        //                 opacity: 0;
        //             }
        //             #item_4_5 {
        //                 width: 1021px;
        //                 height: 839px;
        //                 position: absolute;
        //                 top: 0;
        //                 right: -290px;
        //                 z-index: -1;
        //                 opacity: 0;
        //             }
        //         }

        //         .item__animate {
        //             position: absolute;
        //             width: 696px;
        //             left: 40%;
        //             height: 696px;

        //             // slide 1
        //             #item_1_1 {
        //                 width: 112px;
        //                 height: 124px;
        //                 position: absolute;
        //                 left: 9px;
        //                 top: 40px;
        //                 opacity: 0;
        //             }
        //             #item_1_2 {
        //                 width: 74px;
        //                 height: 75px;
        //                 position: absolute;
        //                 left: 124px;
        //                 top: 461px;
        //                 opacity: 0;
        //             }
        //             #item_1_3 {
        //                 width: 298px;
        //                 height: 336px;
        //                 position: absolute;
        //                 right: 44px;
        //                 bottom: 30px;
        //                 opacity: 0;
        //             }
        //             #item_1_4 {
        //                 width: 132px;
        //                 height: 148px;
        //                 position: absolute;
        //                 right: 61px;
        //                 top: 0px;
        //                 opacity: 0;
        //             }
        //             #item_1_5 {
        //                 width: 644px;
        //                 height: 842px;
        //                 position: absolute;
        //                 left: 0;
        //                 top: -124px;
        //                 z-index: -1;
        //                 opacity: 0;
        //             }
        //         }

        //         &:nth-child(1) .text {
        //             width: 344px;
        //             top: 235px;
        //         }
        //         &:nth-child(2) .text {
        //             width: 375px;
        //             top: 297px;
        //             left: 223px;
        //         }
        //         &:nth-child(3) .text {
        //             width: 365px;
        //             top: 297px;
        //             left: 223px;
        //         }
        //         &:nth-child(4) .text {
        //             width: 365px;
        //             top: 297px;
        //             left: 223px;
        //         }

        //         .text {
        //             position: absolute;
        //             left: 290px;
        //             width: 456px;
        //             opacity: 0;

        //             .title-item {
        //                 color: $black;
        //                 text-align: left;
        //                 font-family: "SF Pro Display";
        //                 font-size: 32px;
        //                 font-style: normal;
        //                 font-weight: 700;
        //                 line-height: 140%;
        //             }

        //             p {
        //                 margin-top: 6px;
        //                 color: $black2;
        //                 text-align: left;
        //                 font-family: "SF Pro Display";
        //                 font-size: 16px;
        //                 font-style: normal;
        //                 font-weight: 400;
        //                 line-height: 140%;
        //             }
        //         }
        //     }
        // }

        .principles__container {
            display: flex;
            flex-direction: column;
            gap: 30px;
            max-width: 1440px;
            margin: 40px auto 0;
            padding: 0 20px;

            .item {
                display: flex;
                gap: 30px;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                &:nth-child(odd){
                    flex-direction: row-reverse;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    max-width: 445px;

                    .title {
                        color: $black;
                        text-align: center;
                        font-family: SF Pro Display;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 140%; /* 36.4px */
                    }

                    .desc {
                        color: $black2;
                        font-family: SF Pro Display;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                    }
                }
            }
        }
    }

    // @media only screen and (max-width: 1165px) {
    //     #principles {
    //         .container {
    //             height: 636px;

    //             .item {
    //                 &:nth-child(2) .item__animate {
    //                     left: 34%;
    //                     transform: scale(0.8);
    //                 }
    //                 &:nth-child(3) .item__animate {
    //                     left: 36%;
    //                     top: 27px;
    //                     transform: scale(0.8);
    //                 }
    //                 &:nth-child(4) .item__animate {
    //                     left: 26%;
    //                     top: -54px;
    //                     transform: scale(0.8);
    //                 }

    //                 .item__animate {
    //                     left: 36%;
    //                     transform: scale(0.8);
    //                 }
    //             }
    //         }
    //     }
    // }
    // @media only screen and (max-width: 971px) {
    //     #principles {
    //         .container {
    //             height: 450px;
    //             .item {
    //                 &:nth-child(2) .item__animate {
    //                     left: 34%;
    //                     transform: scale(0.6);
    //                 }
    //                 &:nth-child(3) .item__animate {
    //                     left: 36%;
    //                     top: 27px;
    //                     transform: scale(0.6);
    //                 }
    //                 &:nth-child(4) .item__animate {
    //                     left: 26%;
    //                     top: -54px;
    //                     transform: scale(0.6);
    //                 }

    //                 .item__animate {
    //                     left: 36%;
    //                     transform: scale(0.6);
    //                 }

    //                 &:nth-child(1) .text {
    //                     width: 344px;
    //                     top: 235px;
    //                     left: 110px;
    //                 }
    //                 &:nth-child(2) .text {
    //                     width: 375px;
    //                     top: 297px;
    //                     left: 110px;
    //                 }
    //                 &:nth-child(3) .text {
    //                     width: 365px;
    //                     top: 297px;
    //                     left: 110px;
    //                 }
    //                 &:nth-child(4) .text {
    //                     width: 365px;
    //                     top: 297px;
    //                     left: 110px;
    //                 }
    //             }
    //         }
    //     }
    // }
    // @media only screen and (max-width: 971px) {
    //     #principles {
    //         .container {
    //             .item {
    //                 &:nth-child(2) .item__animate {
    //                     left: 28%;
    //                     transform: scale(0.4);
    //                 }
    //                 &:nth-child(3) .item__animate {
    //                     left: 30%;
    //                     top: 27px;
    //                     transform: scale(0.4);
    //                 }
    //                 &:nth-child(4) .item__animate {
    //                     left: 20%;
    //                     top: -54px;
    //                     transform: scale(0.4);
    //                 }

    //                 .item__animate {
    //                     left: 30%;
    //                     transform: scale(0.4);
    //                 }
    //             }
    //         }
    //     }
    // }
    // @media only screen and (max-width: 700px) {
    //     #principles {
    //         .container {
    //             height: 520px;
    //             .item {
    //                 &:nth-child(2) .item__animate {
    //                     left: 0%;
    //                     transform: scale(0.6) translateY(-28%);
    //                 }
    //                 &:nth-child(3) .item__animate {
    //                     left: 0%;
    //                     top: 27px;
    //                     transform: scale(0.6) translateY(-35%);
    //                 }
    //                 &:nth-child(4) .item__animate {
    //                     left: 0%; //0
    //                     top: -54px;
    //                     transform: scale(0.6) translateY(-27%);
    //                 }

    //                 .item__animate {
    //                     left: 0%;
    //                     transform: scale(0.6) translateY(-18%);
    //                 }

    //                 &:nth-child(1) .text {
    //                     width: 344px;
    //                     top: auto;
    //                     left: 27%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(2) .text {
    //                     width: 375px;
    //                     top: auto;
    //                     left: 27%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(3) .text {
    //                     width: 365px;
    //                     top: auto;
    //                     left: 27%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(4) .text {
    //                     width: 365px;
    //                     top: auto;
    //                     left: 27%;
    //                     bottom: 0;
    //                 }
    //             }
    //         }
    //     }
    // }
    // @media only screen and (max-width: 620px) {
    //     #principles {
    //         .container {
    //             height: 420px;
    //             .item {
    //                 &:nth-child(2) .item__animate {
    //                     left: 0%;
    //                     transform: scale(0.4) translate(-18%,-73%);
    //                 }
    //                 &:nth-child(3) .item__animate {
    //                     left: 0%;
    //                     top: 27px;
    //                     transform: scale(0.4) translate(-19%,-73%);
    //                 }
    //                 &:nth-child(4) .item__animate {
    //                     left: -23%; //0
    //                     top: -54px;
    //                     transform: scale(0.4) translate(12%,-63%);
    //                 }

    //                 .item__animate {
    //                     left: 0%;
    //                     transform: scale(0.4) translate(-12%,-63%);
    //                 }

    //                 &:nth-child(1) .text {
    //                     width: 344px;
    //                     top: auto;
    //                     left: 16%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(2) .text {
    //                     width: 375px;
    //                     top: auto;
    //                     left: 16%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(3) .text {
    //                     width: 365px;
    //                     top: auto;
    //                     left: 16%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(4) .text {
    //                     width: 365px;
    //                     top: auto;
    //                     left: 16%;
    //                     bottom: 0;
    //                 }
    //             }
    //         }
    //     }
    // }

    // @media only screen and (max-width: 580px) {
    //     #principles {
    //         .container {
    //             height: 420px;
    //             .item {
    //                 &:nth-child(2) .item__animate {
    //                     left: 0%;
    //                     transform: scale(0.4) translate(-26%,-73%);
    //                 }
    //                 &:nth-child(3) .item__animate {
    //                     left: 0%;
    //                     top: 27px;
    //                     transform: scale(0.4) translate(-23%,-73%);
    //                 }
    //                 &:nth-child(4) .item__animate {
    //                     left: -23%; //0
    //                     top: -54px;
    //                     transform: scale(0.4) translate(5%,-63%);
    //                 }

    //                 .item__animate {
    //                     left: 0%;
    //                     transform: scale(0.4) translate(-20%,-63%);
    //                 }

    //                 &:nth-child(1) .text {
    //                     width: 344px;
    //                     top: auto;
    //                     left: 16%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(2) .text {
    //                     width: 375px;
    //                     top: auto;
    //                     left: 16%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(3) .text {
    //                     width: 365px;
    //                     top: auto;
    //                     left: 16%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(4) .text {
    //                     width: 365px;
    //                     top: auto;
    //                     left: 16%;
    //                     bottom: 0;
    //                 }
    //             }
    //         }
    //     }
    // }

    // @media only screen and (max-width: 481px) {
    //     #principles {
    //         .container {
    //             height: 420px;
    //             .item {
    //                 &:nth-child(2) .item__animate {
    //                     left: 0%;
    //                     transform: scale(0.4) translate(-43%,-73%);
    //                 }
    //                 &:nth-child(3) .item__animate {
    //                     left: 0%;
    //                     top: 27px;
    //                     transform: scale(0.4) translate(-44%,-73%);
    //                 }
    //                 &:nth-child(4) .item__animate {
    //                     left: -23%; //0
    //                     top: -54px;
    //                     transform: scale(0.4) translate(-23%,-63%);
    //                 }

    //                 .item__animate {
    //                     left: 0%;
    //                     transform: scale(0.4) translate(-35%,-63%);
    //                 }

    //                 &:nth-child(1) .text {
    //                     width: 344px;
    //                     top: auto;
    //                     left: 10%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(2) .text {
    //                     width: 375px;
    //                     top: auto;
    //                     left: 10%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(3) .text {
    //                     width: 365px;
    //                     top: auto;
    //                     left: 10%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(4) .text {
    //                     width: 365px;
    //                     top: auto;
    //                     left: 10%;
    //                     bottom: 0;
    //                 }
    //             }
    //         }
    //     }
    // }

    // @media only screen and (max-width: 461px) {
    //     #principles {
    //         .container {
    //             height: 420px;
    //             .item {
    //                 &:nth-child(2) .item__animate {
    //                     left: 0%;
    //                     transform: scale(0.4) translate(-32%,-73%);
    //                 }
    //                 &:nth-child(3) .item__animate {
    //                     left: 0%;
    //                     top: 27px;
    //                     transform: scale(0.4) translate(-38%,-73%);
    //                 }
    //                 &:nth-child(4) .item__animate {
    //                     left: -23%; //0
    //                     top: -54px;
    //                     transform: scale(0.4) translate(-20%,-63%);
    //                 }

    //                 .item__animate {
    //                     left: 0%;
    //                     transform: scale(0.4) translate(-26%,-63%);
    //                 }

    //                 &:nth-child(1) .text {
    //                     width: 344px;
    //                     top: auto;
    //                     left: 10%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(2) .text {
    //                     width: 375px;
    //                     top: auto;
    //                     left: 10%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(3) .text {
    //                     width: 365px;
    //                     top: auto;
    //                     left: 10%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(4) .text {
    //                     width: 365px;
    //                     top: auto;
    //                     left: 10%;
    //                     bottom: 0;
    //                 }
    //             }
    //         }
    //     }
    // }
    // @media only screen and (max-width: 411px) {
    //     #principles {
    //         .container {
    //             height: 420px;
    //             .item {
    //                 &:nth-child(2) .item__animate {
    //                     left: 0%;
    //                     transform: scale(0.4) translate(-55%,-80%);
    //                 }
    //                 &:nth-child(3) .item__animate {
    //                     left: 0%;
    //                     top: 27px;
    //                     transform: scale(0.4) translate(-55%,-73%);
    //                 }
    //                 &:nth-child(4) .item__animate {
    //                     left: -23%; //0
    //                     top: -54px;
    //                     transform: scale(0.4) translate(-40%,-64%);
    //                 }

    //                 .item__animate {
    //                     left: 0%;
    //                     transform: scale(0.4) translate(-49%,-69%);
    //                 }

    //                 &:nth-child(1) .text {
    //                     width: 320px;
    //                     top: auto;
    //                     left: 5%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(2) .text {
    //                     width: 320px;
    //                     top: auto;
    //                     left: 5%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(3) .text {
    //                     width: 320px;
    //                     top: auto;
    //                     left: 5%;
    //                     bottom: 0;
    //                 }
    //                 &:nth-child(4) .text {
    //                     width: 320px;
    //                     top: auto;
    //                     left: 5%;
    //                     bottom: 0;
    //                 }
    //             }
    //         }
    //     }
    // }
}
