@import "../fonts/fonts";
@import "../var/var";

#wrapper__index {
    #principles {
        margin: 0 auto 0;
        overflow: hidden;

        #top {
            margin-bottom: calc(120 / #{$desktop} * 100vw);
        }

        #title {
            color: var(--header-color);
            text-align: center;

            font-family: "SF Pro Display";
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
        }

        .principles__container {
            display: flex;
            flex-direction: column;
            gap: 30px;
            max-width: 1440px;
            margin: 40px auto 0;
            padding: 0 20px;

            .item {
                display: flex;
                gap: 30px;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                &:nth-child(odd) {
                    flex-direction: row-reverse;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    max-width: 445px;

                    .title {
                        color: $black;
                        text-align: left;
                        font-family: SF Pro Display;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 140%; /* 36.4px */
                    }

                    .desc {
                        color: $black2;
                        font-family: SF Pro Display;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 400px) {
        #principles {
            .principles__container {
                .item{
                    .img{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
