@import "../fonts/fonts";
@import "../var/var";

#wrapper__index {
    #reactworld {
        padding: 66px 20px 0;
        margin: 0 auto;
        background: $world_bg;
        margin-top: 100px;

        .world__container {
            max-width: 1440px;
            margin: 0 auto;
            border: 1px solid transparent;

            .title {
                color: #fff;
                text-align: center;
                font-family: SF Pro Display;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%;
            }

            .items {
                display: flex;
                flex-direction: column;
                margin-top: 48px;
                margin-bottom: 70px;

                .item {
                    display: flex;
                    align-items: center;
                    gap: 50px;
                    justify-content: center;
                    flex-wrap: wrap;

                    &:nth-child(odd) {
                        flex-direction: row-reverse;
                    }

                    .text{
                        max-width: 266px;
                        margin-bottom: 15px;
                    }
                    h5 {
                        color: #fff;
                        font-family: SF Pro Display;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 110%;
                    }
                    p {
                        color: #fff;
                        font-family: SF Pro Display;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%; /* 22.4px */
                        letter-spacing: 0.32px;
                    }
                }
            }
        }

        
    }

    @media only screen and (max-width: 427px) {
        #reactworld {
            .world__container {
                .items {
                    gap: 20px;
                    .item {
                        .img{
                            width: 100%;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
