@import "../var/var";
@import "../fonts/fonts";

#wrapper__carier {
    .ambition {
        margin-top: 100px;
        padding: 0 20px;
        overflow: hidden;

        .ambition__container {
            max-width: 1440px;
            margin: 0 auto;

            .title {
                color: $black;
                text-align: center;
                font-family: SF Pro Display;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%;
            }

            .photos {
                margin-top: 40px;
                overflow: hidden;
                position: relative;

                .img {
                    border-radius: 40px;
                    overflow: hidden;
                    max-height: 340px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;

                    img {
                        display: block;
                        object-fit: cover;
                        object-position: 50% 50%;
                    }
                }
            }

            .videos__container {
                margin-top: 98px;
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
                padding: 0 50px;
                justify-content: center;
                align-items: center;

                .item {
                    max-width: 700px;
                    width: max-content;
                    max-height: 400px;
                    border-radius: 77px;
                    display: flex;
                    overflow: hidden;
                    justify-content: center;
                    align-items: center;
                    background: $white2;

                    video {
                        margin: 0 auto;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        .ambition {
            .ambition__container {
                .videos__container {
                    padding: 0 20px;
                    .item {
                        max-height: 320px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 390px) {
        .ambition {
            .ambition__container {
                .videos__container {
                    .item {
                        max-height: 240px;
                    }
                }
            }
        }
    }
}
