@import "../var/var";
@import "../fonts/fonts";

#wrapper__carier {
    .speaking {
        padding: 108px 20px 0;
        border: 1px solid transparent;

        .container {
            max-width: 1440px;
            margin: 0 auto;
            border: 1px solid transparent;

            .header {
                max-width: 1088px;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }

            .hh-container {
                max-width: 1088px;
                margin: 20px auto 0;
                display: flex;
                gap: 30px;

                .left {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius: 10px;
                    background: #fafafa;
                    padding: 35px 20px 20px;
                    min-width: 327px;
                    min-height: 635px;

                    .top {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .title {
                            color: #000;
                            font-family: SF Pro Display;
                            font-size: 30px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 120%;
                        }

                        div {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            .name {
                                color: $black2;
                                font-family: SF Pro Display;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 140%;
                            }

                            a {
                                color: #139cff;
                                font-family: SF Pro Display;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%;
                            }

                            .grants__star {
                                display: flex;
                                gap: 2px;
                                justify-content: flex-start;

                                img {
                                    width: 18px;
                                    height: 18px;
                                }
                            }

                            .desc {
                                color: #3c3c3c;
                                font-family: SF Pro Display;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%;
                            }
                        }

                        .lok {
                            .name {
                                font-weight: 400;
                            }
                        }
                    }

                    .buttons {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .button {
                            display: block;
                            cursor: pointer;
                            border-radius: 5px;
                            border: 1px solid #d3d3d3;
                            padding: 20px;
                            color: $black2;
                            font-family: SF Pro Display;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 140%;
                            text-align: center;
                        }
                    }
                }

                .right {
                    .title {
                        color: $black;
                        font-family: SF Pro Display;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 140%;
                        text-align-last: left;
                    }

                    .raite {
                        display: flex;
                        justify-content: flex-start;
                        gap: 10px;
                        margin-top: 10px;
                        margin-bottom: 20px;

                        .stars {
                            display: flex;
                            gap: 2px;
                            align-items: flex-start;
                        }

                        .link {
                            font-family: SF Pro Display;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 140%;
                            a {
                                color: #139cff;
                            }
                        }
                    }

                    .text {
                        color: $black2;
                        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        font-family: SF Pro Display;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                        margin-bottom: 15px;
                    }
                }
            }

            .speaking__container {
                max-width: 1063px;
                margin: 0 auto;
                .top {
                    margin-top: 60px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    align-items: center;
                    .title {
                        color: $black;
                        text-align: right;
                        font-family: SF Pro Display;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 140%; /* 56px */
                    }

                    .link {
                        display: flex;
                        justify-self: flex-end;
                        a {
                            color: #139cff;
                            font-family: SF Pro Display;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 140%;
                        }
                    }
                }

                .speaking__items {
                    margin-top: 40px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 30px;
                    position: relative;
                    overflow: hidden;
                    padding: 0 40px;

                    &::after {
                        position: absolute;
                        display: block;
                        content: "";
                        top: 0;
                        bottom: 0;
                        left: 0;
                        width: 5%;
                        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 2.74%, #ffffff 100%);
                        z-index: 2;
                    }

                    &::before {
                        position: absolute;
                        display: block;
                        content: "";
                        top: 0;
                        bottom: 0;
                        right: 0;
                        width: 3%;
                        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 2.74%, #ffffff 100%);
                        z-index: 2;
                    }

                    .swiper-button-prev,
                    .swiper-button-next {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        background: #fff;
                        z-index: 999;

                        &.swiper-button-disabled {
                            opacity: 0 !important;
                        }
                    }

                    .swiper-button-prev {
                        &::after {
                            content: url('data:image/svg+xml,\
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">\
                            <path d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9L1 7ZM15.7071 8.70711C16.0976 8.31658 16.0976 7.68342 15.7071 7.29289L9.34315 0.928932C8.95262 0.538408 8.31946 0.538408 7.92893 0.928932C7.53841 1.31946 7.53841 1.95262 7.92893 2.34315L13.5858 8L7.92893 13.6569C7.53841 14.0474 7.53841 14.6805 7.92893 15.0711C8.31946 15.4616 8.95262 15.4616 9.34315 15.0711L15.7071 8.70711ZM1 9L15 9V7L1 7L1 9Z" fill="black"/>\
                            </svg>\
                            ');
                            transform: translate(-50%, -50%) rotate(180deg);
                        }
                    }
                    .swiper-button-next {
                        &::after {
                            transform: translate(-50%, -50%);
                        }
                    }

                    .swiper-button-prev,
                    .swiper-button-next {
                        &::after {
                            display: block;
                            content: url('data:image/svg+xml,\
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">\
                            <path d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9L1 7ZM15.7071 8.70711C16.0976 8.31658 16.0976 7.68342 15.7071 7.29289L9.34315 0.928932C8.95262 0.538408 8.31946 0.538408 7.92893 0.928932C7.53841 1.31946 7.53841 1.95262 7.92893 2.34315L13.5858 8L7.92893 13.6569C7.53841 14.0474 7.53841 14.6805 7.92893 15.0711C8.31946 15.4616 8.95262 15.4616 9.34315 15.0711L15.7071 8.70711ZM1 9L15 9V7L1 7L1 9Z" fill="black"/>\
                            </svg>\
                            ');
                            position: absolute;
                            width: 16px;
                            height: 16px;
                            top: 50%;
                            left: 50%;
                            text-align: center;
                            line-height: 0px;
                        }
                    }

                    .item {
                        position: relative;
                        padding: 50px 30px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        border-radius: 40px;
                        height: 268px;

                        &.first {
                            padding: 40px 30px;
                            ul {
                                display: flex;
                                flex-direction: column;
                                list-style: none;
                                gap: 29px;

                                li {
                                    display: flex;
                                    gap: 23px;
                                    align-items: center;
                                    .icon-container {
                                        width: 50px;
                                        height: 50px;
                                        display: flex;
                                        position: relative;
                                        justify-content: center;

                                        .progress {
                                        }

                                        .ico {
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                        }

                                        .num {
                                            position: absolute;
                                            top: 100%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            background: #fff;
                                            display: block;
                                            padding: 3px 10px;
                                            color: $black;
                                            text-align: center;
                                            font-family: SF Pro Display;
                                            font-size: 12px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 100%;
                                            width: 56px;
                                        }
                                    }

                                    .text {
                                        color: $black;
                                        font-family: SF Pro Display;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 28px;
                                    }
                                }
                            }
                        }

                        &::after {
                            position: absolute;
                            display: block;
                            content: "";
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            border-radius: 40px;
                            background: rgba(248, 248, 248, 0.5);
                            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
                            z-index: -1;
                        }

                        .title {
                            font-family: SF Pro Display;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 28px;
                        }

                        .raite {
                            display: flex;
                            gap: 10px;
                            align-items: flex-start;

                            .stars {
                                display: flex;
                                gap: 2px;
                            }
                            .date {
                                text-align: right;
                                color: $black2;
                                font-family: SF Pro Display;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%;
                            }
                        }

                        .desc {
                            color: $black2;
                            font-family: SF Pro Display;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 140%;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 734px) {
        .speaking {
            .container {
                .hh-container {
                    flex-direction: column;
                    gap: 30px;

                    .left {
                        min-width: 0px;
                        min-height: 0px;
                        gap: 20px;
                    }

                    .right {
                        padding: 0 20px;
                    }
                }
                .speaking__container {
                    .top {
                        .title {
                            text-align: left;
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 400px) {
        .speaking {
            .container {
                .speaking__container {
                    .top {
                        .title {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}
