body {
    position: relative;
}

.hide-video {
    display: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.348);
    z-index: 9999;
}

.modal-active {
    overflow: hidden;
}

.popup__content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    video {
        width: 100%;
        max-width: 80vmin;
    }
}

.popup__modal {
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 390px;
    padding: 20px;
    border-radius: 10px;
}

.popup__close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0.4;
    cursor: pointer;
    font-size: 28px;
    text-align: center;
    line-height: 30px;
    background: #fff;
}

.popup__close:hover {
    opacity: 1;
}
