footer.footer 
    div (class='container')
        div(id='main-info')
            h2(class='title') React Group
            p(id='text')
        div(class='footert__fedback')
            h3(class='title')
            div(class='contacts')
                a(href="") support@reactgroup.info
                a(href="") job@reactgroup.info
            div(class='meddengers')
                div(class='ws')
                    a(href="")
                        img(src="../images/carier/vazaaap.png", alt="Whatsapp")
                
        
        